# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
# 1) Seu código aqui

acertos_mat = df_mat['Qt_acertos'].sum() / (100 * 24)
print('Porcentagem acertos Mat:', acertos_mat)

acertos_por = df_por['Qt_acertos'].sum() / (100 * 18)
print('Porcentagem acertos Port:', acertos_por)

acertos_geo = df_geo['Qt_acertos'].sum() / (100 * 8)
print('Porcentagem acertos Geo:', acertos_geo)

acertos_ing = df_ing['Qt_acertos'].sum() / (100 * 8)
print('Porcentagem acertos Ing:', acertos_ing)

acertos_his = df_his['Qt_acertos'].sum() / (100 * 8)
print('Porcentagem acertos Hist:', acertos_his)

acertos_fis = df_fis['Qt_acertos'].sum() / (100 * 12)
print('Porcentagem acertos Fis:', acertos_fis)

acertos_qui = df_qui['Qt_acertos'].sum() / (100 * 12)
print('Porcentagem acertos Qui:', acertos_qui)

Porcentagem acertos Mat: 0.49375
Porcentagem acertos Port: 0.40166666666666667
Porcentagem acertos Geo: 0.42
Porcentagem acertos Ing: 0.47625
Porcentagem acertos Hist: 0.45
Porcentagem acertos Fis: 0.44333333333333336
Porcentagem acertos Qui: 0.4525

In [ ]:
# 2) Seu código aqui
##(operações entre *DataFrames) Calcule o total de acertos de cada aluno.
##  somar os dataframes
df_geral = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df_geral

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [ ]:
# 3) Seu código aqui
#Calcule o porcentual geral de cada aluno.
  
df_geral['% Geral'] = df_geral / 90 #numero de questões
df_geral

    Qt_acertos   % Geral
0           35  0.388889
1           48  0.533333
2           50  0.555556
3           32  0.355556
4           30  0.333333
..         ...       ...
95          34  0.377778
96          27  0.300000
97          40  0.444444
98          40  0.444444
99          42  0.466667

[100 rows x 2 columns]

In [ ]:
# 4) Seu código aqui
##Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?
df_geral['Fase 2'] = 0
df_geral.loc[df_geral['Qt_acertos'] >= 45, 'Fase 2'] = 1
df_geral['Fase 2'].sum()

34

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
# seu código aqui
df_desqualificados = df_mat
df_desqualificados['acertos_qui'] = df_qui
df_desqualificados['acertos_fis'] = df_fis
df_desqualificados

    Qt_acertos  acertos_qui  acertos_fis  zerou_materia
0            6            3            8              0
1           19            8           11              0
2           14            4            4              0
3           10            8            0              0
4            7            3            9              0
..         ...          ...          ...            ...
95           6            3            9              0
96           8            3            4              0
97          23            5            1              0
98           0           11           10              0
99          11            2            7              0

[100 rows x 4 columns]

In [ ]:
df_desqualificados['zerou_materia'] = 0
df_desqualificados

    Qt_acertos  acertos_qui  acertos_fis  zerou_materia
0            6            3            8              0
1           19            8           11              0
2           14            4            4              0
3           10            8            0              0
4            7            3            9              0
..         ...          ...          ...            ...
95           6            3            9              0
96           8            3            4              0
97          23            5            1              0
98           0           11           10              0
99          11            2            7              0

[100 rows x 4 columns]

In [ ]:
#Monte um novo DataFrame com os alunos desqualificados por este critério.
df_desqualificados.loc[df_desqualificados['Qt_acertos'] < 1, 'zerou_materia'] = 1
df_desqualificados.loc[df_desqualificados['acertos_qui'] < 1, 'zerou_materia'] = 1
df_desqualificados.loc[df_desqualificados['acertos_fis'] < 1, 'zerou_materia'] = 1
df_desqualificados.loc[df_desqualificados['zerou_materia'] == 1]

    Qt_acertos  acertos_qui  acertos_fis  zerou_materia
3           10            8            0              1
6            6            4            0              1
10          10            0            7              1
12          20            3            0              1
14           7            0            4              1
20          23            0            2              1
25           0            8            4              1
26          11            0            0              1
27          21            0            3              1
33          14            0            6              1
35          11           11            0              1
49           8            8            0              1
56           7            8            0              1
65           1            6            0              1
66           5           10            0              1
72          11            9            0              1
73           1           11            0              1
74           9            0            7              1
84          15            4            0              1
89          23            0            9              1
92          14            0            8              1
94           0            8            3              1
98           0           11           10              1

In [ ]:
#Quantos são esses alunos?
df_desqualificados['zerou_materia'].sum()

23

In [ ]:
#Qual a média desses alunos em história e geografia?
df_desqualificados['acertos_his'] = df_his
df_desqualificados['acertos_geo'] = df_geo
df_desqualificados

,Qt_acertos,acertos_qui,acertos_fis,zerou_materia,acertos_his,acertos_geo
0,6,3,8,0,1,7
1,19,8,11,0,0,0
2,14,4,4,0,7,0
3,10,8,0,1,0,3
4,7,3,9,0,0,2
...,...,...,...,...,...,...
95,6,3,9,0,4,7
96,8,3,4,0,1,4
97,23,5,1,0,4,0
98,0,11,10,1,5,3
99,11,2,7,0,6,0

In [ ]:
df_desqualificados['media_hisEgeo'] = df_desqualificados['acertos_his'] + df_desqualificados['acertos_geo'] / 2
df_desqualificados.loc[df_desqualificados['zerou_materia'] == 1 , 'media_hisEgeo']

3      1.5
6      8.5
10     2.5
12     2.5
14     1.5
20     9.0
25     3.5
26    10.0
27     7.5
33     6.0
35     6.0
49     1.5
56     9.5
65     4.0
66     4.5
72     8.5
73     4.0
74     5.0
84     1.0
89     9.5
92     1.5
94     2.0
98     6.5
Name: media_hisEgeo, dtype: float64

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [59]:
from os import sep
#arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [85]:
df_arquivo = pd.read_csv('sample_data/registros_de_vacinacao_covid_ACRE.csv', sep=';')
df_arquivo.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [135]:
# 1) Sua solução aqui. Quantas vacinas estão registradas nessa base?
df_arquivo.shape

(169071, 34)

In [64]:
# 2) Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)
df_arquivo['paciente_id'].nunique()

120517

In [71]:
# 3) Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo.
# Receba os valores do campo com o método .unique().

df_arquivo['vacina_descricao_dose'].unique

<bound method Series.unique of 0             1ª Dose
1             2ª Dose
2             1ª Dose
3             2ª Dose
4             1ª Dose
             ...
169066        1ª Dose
169067        1ª Dose
169068        1ª Dose
169069        1ª Dose
169070        1ª Dose
Name: vacina_descricao_dose, Length: 169071, dtype: object>

In [83]:
# 3) solução alternativa
df_arquivo.iloc[:,-6]

0             1ª Dose
1             2ª Dose
2             1ª Dose
3             2ª Dose
4             1ª Dose
             ...
169066        1ª Dose
169067        1ª Dose
169068        1ª Dose
169069        1ª Dose
169070        1ª Dose
Name: vacina_descricao_dose, Length: 169071, dtype: object

In [91]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?
df_arquivo.loc[df_arquivo['paciente_idade'] < 18, 'paciente_id'].shape

(55,)

In [141]:
# 5)
df_arquivo.loc[df_arquivo['estabelecimento_uf'] == 'AC'].shape

(169071, 34)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [136]:
# 1) 
df_arquivo_copy = df_arquivo.loc[df_arquivo['paciente_idade'] < 18].copy()
df_arquivo_copy.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN
11338,647e2301-3ba4-463a-8d1e-2b6f38a4d99e-i0b0,53eb7fed5faa26ad17ce21ee378f28e25399ab7e90bc05...,17,2003-05-04,F,4,AMARELA,120030.0,10.0,FEIJO,...,4120Z004,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-09,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-02-09T22:08:13.000Z,NaN
15144,7f469e03-bece-49d0-bebc-33ad98e27f54-i0b0,dbaa6420d8a815158387668d0a59a19cf2bb63958e35d1...,16,2004-08-22,F,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-28,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-09T19:26:03.000Z,NaN

In [105]:
# 2) 
colunas = df_arquivo_copy.columns
colunas

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [109]:
# 3)
df_arquivo_copy['vacina_categoria_nome'].nunique()

5

In [110]:
# 4)
colunas_estabelecimento = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [146]:
# 5)
df_arquivo_copy[['estabelecimento_valor', 'estabelecimento_razaosocial', 'estalecimento_nofantasia', 
                 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf',]].head()

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC